.fondo {
    /*
    background-image: url('../img/header-bg.png'), url('../img/footer-bg.png'), linear-gradient(to bottom, rgba(4, 199, 253, 1) 0%, rgba(0, 220, 255, 1) 100%);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll, scroll;
    background-position: top center, bottom center;
    */

    background-image:  url('../img/header-bg.png'),url('../img/footer-bg.png'),linear-gradient(to bottom, rgba(4, 199, 253, 1) 0%, rgba(0, 220, 255, 1) 100%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    background-position: top center,bottom center;
}

.logo{
    height: 101px;
    width: 179px;

}

header {
    /*background: #5fc6ff;
    background-image: url('../img/header-bg.png');
    height:px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;*/
}
nav{
    /*background-color: rgba(0,0,0,0) !important;*/
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0)!important;
    -moz-box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0)!important;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0)!important;
}
.contenido{
    border: 0px solid black;
}
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    /*
    background-image: url('../img/footer-bg.png');
    height:200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    background-position: bottom center;*/
}

.chip.chip-md {
    /*margin-top: 5px;*/
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}
.chip.chip-md img {
    height: 42px;
    width: 42px;
}
.chip.chip-md .close {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}