.btn-purple{
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
}
.img-width{
    width: 100px !important;
    height: 100px !important;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.img-sidebar{
    width:113%;
}
.img-action{
    width: 15% !important;
}